@model ClienteModel
@{
    ViewData["Title"] = "Confirmar Exlusão Cliente";
}

<div class="text-center">
    <h3 class="text-white">Realmente deseja deletar o cliente @Model.NmCliente ?</h3>

    <div class="d-md-flex flex-column mt-4 gap-2">
        <a class="btn btn-primary btn-block" role="button" asp-controller="Cliente" asp-action="Index">Cancelar</a>
        <a class="btn btn-danger btn-block" role="button" asp-action="Delete" asp-route-id="@Model.IdCliente">Confirmar</a>
    </div>

</div>



